.container {
  background-image: url('../images/template.jpg');
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(10, 1fr);
  font-size: 1.2rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  max-width: 40rem;
  max-height: 22.5rem;
  width: 100vw;
  height: 56.5vw;
}

.text {
  background-color: white;
  padding: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.like {
  grid-row: 7/9;
  grid-column: 2/5;
}

.dislike {
  grid-row: 7/9;
  grid-column: 12/15;
}

.person {
  grid-row: 5/7;
  grid-column: 8/11;
}

